<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather App</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body class="<%= locals.weatherData ? weatherData.weather[0].main.toLowerCase() : '' %>">
        <%- include('partials/header') %>
        <div class="container">
            <h1>Weather App</h1><br>
            <form action="/weather" method="get">
                <input type="text" name="city" placeholder="Enter city">
                <button type="submit">Get Weather</button>
            </form>

            <% if (error) { %>
                <p class="error">
                    <%= error %>
                </p>
                <% } %>

                    <% if (locals.weatherData) { %>
                        <h2>Weather in <%= weatherData.name %>
                        </h2>
                        <p>Temperature: <%= weatherData.main.temp %>°C</p>
                        <p>Condition: <%= weatherData.weather[0].description %>
                        </p>
                        <% } %>
        </div>
    </body>

</html>